<div class="w-full h-screen border-l border-gray-200 pl-5">
  <div>
    <h3 class="text-gray-300">
      Ai Response
    </h3>
    <p>
      what ai is saying
    </p>
  </div>

  <div>
    {@tile}
  </div>
  <.form for={} phx-change="validate" phx-submit="submit" class="absolute bottom-10 ">
    <input type="text" name="prompt" placeholder="Start Chat" class="ml-5 p-2 outline-none" />
    <input type="submit" value="save" class="bg-red-300 p-2" />
  </.form>
</div>
